* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom, #1488cc, #2b32b2);
  font-size: 16px;
}

.container {
  background-color: #f5f5f5c0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  max-width: 60vw;
  max-height: 50vh;
  border-radius: 16px;
}

.color-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

input[type=color] {
  width: 100px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input[type=color]::-webkit-color-swatch {
  border-radius: 20px;
  border: none;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}

input[type="range"] {
  cursor: ew-resize;
  width: 75%;
}

#degDisplay {
  font-size: 1.25rem;
  font-family: monospace;
}

#eye {
  margin: 0 auto;
  width: 40px;
}

#code {
  height: 50px;
  margin: 0 auto;
  width: 80%;
  font-size: 1.25rem;
  text-align: center;
  background-color: #203e7f;
  color: #f0e68c;
}

.copy-btn {
  margin:0 auto;
  background-color: dodgerblue;
}

.btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: #222;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s linear;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}

.btn:hover {
  color: #fff;
  background: #222;
}

.btn:focus {
  outline: #000 solid 2px;
}

@media screen and (max-width: 720px) {
  .container {
    max-width: none;
    width: 95vw;
  }
  #code {
    font-size: 1rem;
  }
}